@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Vergil';
    src: local('Vergil'), url(./fonts/Virgil.woff2) format('woff2');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(./fonts/Raleway-VariableFont_wght.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Playfair';
    src: local('Playfair'), url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 400, 500, 600, 700;
    src: local('Quicksand'), url(./fonts/Quicksand-VariableFont_wght.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}